.carta-repertorio{
    border-radius: 10px;
    color: black;
    background-color: #F3F3F4;
    box-shadow: -10px 10px 25px 1px rgb(208, 208, 208);
    // background-color: #202020;
}
.carta-repertorio:hover{
    cursor: pointer;
    background: rgb(208, 208, 208);
}
