
<div fxLayout="row " 
  fxLayoutAlign="center" >

    <div fxFlex="80" 
      fxFlex.lg="85"
      fxFlex.sm="60" 
      fxLayoutAlign="end"
      style="margin-top: 5px;">
        <span class="spacer"></span>
        <span fxLayoutAlign="center" fxLayoutGap="15px" fxLayoutAlign="space-around center" >
          <span >
            <img style="height: 45px;width: 45px; border-radius: 100px;" [src]="usuarios.img" alt="USERIMG">
          </span>
          <h1>
            {{usuario.nombre}}
          </h1>
        </span>
    </div>

    <div fxFlex="15"
      fxFlex.lg="10"
      fxFlex.sm="10"
      fxLayoutAlign="end">
        <button mat-icon-button [matMenuTriggerFor]="menu"  style="margin-top: 5px;">
            <img style="height: 40px;" src="https://img.icons8.com/color-glass/48/000000/circled-chevron-down.png"/>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="perfil()">
              <span><img style="width: 50;  height: 35px;" src="https://img.icons8.com/color/48/000000/services--v1.png"/></span>
              <span style=" margin-left: 5px; font-size: 18px;">Configuraci&oacute;n</span>
            </button>

            <button mat-menu-item style="margin-top: 10px; margin-bottom: 5px;">
                <button (click)="logout()"
                    class="btn btn-danger">
                    <mat-icon>logout</mat-icon>
                <span style=" font-size: 18px;">Cerrar Sesi&oacute;n </span>
                </button>
            </button>
          </mat-menu>
          
        
    </div>
</div>
         
        
