*{
	color: black;
}

.tarjeta-usuario{
	margin-left: -5%;
    border-radius: 10px;
    width: 110%;
    background-color: rgb(225, 225, 225);
    color: black;
}
.tarjeta-usuario:hover{
    cursor: pointer;
    background: rgb(188, 188, 204);
}

// BOTON EDITAR
.boton.seis {
	background: rgb(30, 80, 81);
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 8px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: 2s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
}