.sidenav-container {
  height: 100%;
  background-color: white;
  // background: radial-gradient(circle at top, rgb(56, 7, 23), rgb(34, 34, 34));
}

// MENU
.sidenav {
  width: 300px;
  background-color: #202020;
  // background-color: rgb(24, 24, 24);
}

// TITULO MENU
.sidenav .mat-toolbar {
  // background: rgb(24, 24, 24);
  background-color: #202020;

  color: #fff;
}

// HEADER
.toolbar-header{
  // background: rgb(24, 24, 24);
  background-color: #202020;

  // background: linear-gradient( rgba(0,0,0,.6) 0, rgb(56, 7, 23) );
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
