<mat-sidenav-container class="sidenav-container" fullscreen >
  <!-- style="background-image: url('../../../../assets/imagen-modulos/fondo-10.png');" -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    
    <mat-toolbar>
      <span style="font-size: 26px; margin-left: 10px; margin-top: 10px;">Men&uacute;</span>
      <span class="spacer"></span>

      <button mat-icon-button style="margin-left: 110px;"
              (click)="drawer.toggle()">
              <span><img style="height: 40px;" src="https://img.icons8.com/stickers/100/000000/delete-sign.png"/></span>
          <!-- <mat-icon>close</mat-icon> -->
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="/home/repertorios/lista" style="margin-top: 10px;"
          mat-list-item (click)="drawer.toggle()">
          <img style="margin-right: 5px;" src="https://img.icons8.com/color-glass/48/000000/playlist.png"/>
          <span style="font-size: 18px;">Lista de Repertorios</span>
      </a>

      <a routerLink="/home/repertorios/agregar" style="margin-top: 15px;"
          mat-list-item (click)="drawer.toggle()">
          <span style="margin-right: 5px;"><img src="https://img.icons8.com/color/48/000000/add-rule.png"/></span>
          <span style="font-size: 18px;">Añadir Repertorio</span>
      </a>

      <a routerLink="/home/compartidos/lista" style="margin-top: 15px;"
          mat-list-item (click)="drawer.toggle()">
          <span style="margin-right: 5px;"><img src="https://img.icons8.com/color/48/000000/anghami.png"/></span>
          <span style="font-size: 18px;">Compartido Conmigo</span>
      </a>
      
      <!-- <a routerLink="/home/repertorios/buscar"
          mat-list-item
          (click)="drawer.toggle()">
          <mat-icon mat-list-icon>search</mat-icon>
          <span>Buscar</span>
      </a> -->
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar-header">  
      <div class="col-1">
          <button mat-icon-button class="" 
              (click)="drawer.toggle()">
              <span><img src="https://img.icons8.com/fluency/48/000000/menu--v2.png"/></span>
              <!-- <mat-icon>menu</mat-icon> -->
          </button>
      </div>
      <div class="col-11">
          <app-header></app-header>
      </div>
      
    </mat-toolbar>

      <!-- Add Content Here -->
      
      <!-- <div class="container"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->

  </mat-sidenav-content>
</mat-sidenav-container>
