::ng-deep .customize {
    background: rgba(255, 255, 255, 0);
}

.tarjeta-cancion{
    border-radius: 10px; 
    height: 60px; 
    margin: 0px; 
    background: rgb(24, 24, 24);
}
.tarjeta-cancion:hover{
    background-color: #202020;
}

.custom-input-file {
    background-color: #cbce0c;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 160px;
    height: 38px;
    border-radius: 6px;
    text-align: center;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
   border-radius: 6px;
  }