.rectangulo-repertorios{
    height: auto;
    width: 100%;
    left: 40px;
    top: 274px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

// .mat-card{
//     margin-top: 20px;
// }