<body class="contenedorRepertorio">
    
    <mat-grid-list cols="1" *ngIf="!repertorio; else divRepertorio">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
    
    <ng-template #divRepertorio>
        <br>
        <span fxLayout="row"  >
            <span fxLayoutAlign="center" fxFlex="20">
                <button mat-button style="color: white;" (click)="volver()">
                    <img src="https://img.icons8.com/color-glass/48/000000/chevron-left.png"/>
                </button>
            </span>
            <span fxLayoutAlign="start" fxFlex="100" style="color: white;">
                <h1 style="color: white;">
                    <!-- <span class="material-icons" style="color: white;"> 
                        playlist_add
                    </span> -->
                    {{repertorio.nombre}}
                </h1>
            </span>
            <div fxFlex="20" fxFlex.lg="20" fxFlex.sm="15" fxLayoutAlign="start" *ngIf="mostrarBotonesReper">
                <button mat-button color="warn" 
                    (click)="onNewMusician()" >
                    <img src="https://img.icons8.com/color/48/000000/add-user-male-skin-type-7.png"/>
                </button>
            </div>
        </span>
        <br>
            <mat-divider></mat-divider>
        <br>
    
        <div fxLayout="row" style="margin-left: 8%; margin-right: 8%;"
            fxLayoutGap="100px"
            fxLayout.xs="column"
            fxLayoutAlign="center"
            >
    
            <div fxFlex="100"
                fxFlex.lg="95"
                fxFlex.sm="90">
    
                <div fxLayout="row wrap"
                    fxLayout.xs=""
                    fxLayoutGap="20px">
                    <div fxFlex="50" fxFlex.lg="45" fxFlex.sm="40" fxLayoutAlign="start" style="color: white;">
                        <span style="color: white;" >Canciones: </span>
                    </div>
    
                    <div fxFlex="50" fxFlex.lg="45" fxFlex.sm="40" fxLayoutAlign="end" *ngIf="mostrarBotonesReper">
                        <button mat-button color="warn" style="margin-top: -15px;"
                            (click)="onNewCancion()" >
                            <img src="https://img.icons8.com/color/48/000000/add-song.png"/>
                        </button>
                    </div>
                    
                </div>
                <mat-divider></mat-divider>
                
            </div>
        </div>
        
        <div style="margin-left: 8%; margin-right: 8%; margin-top: 2%;" 
            fxLayout="column" 
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="5px">
            
            <div fxFlex="100"
                fxFlex.lg="100"
                fxFlex.sm="100"
                *ngFor="let cancion of canciones">
                <div >
                    <app-cancion-tarjeta [cancion]="cancion"></app-cancion-tarjeta>
                </div>
            </div>
            
        </div>
    </ng-template>

</body>
