<body class="contenedorUser">
    <br>
<span fxLayout="row"  >
    <span fxLayoutAlign="center" fxFlex="23">
        <button mat-button color="warn" (click)="volver()">
            <img src="https://img.icons8.com/color-glass/48/000000/chevron-left.png"/>
        </button>
    </span>
    <span fxLayoutAlign="center" fxFlex="50">
        <h1 style="color: white;" >
            <span style="margin-right: 10px;"> 
                <img src="https://img.icons8.com/color/48/000000/life-cycle-skin-type-7.png"/>
            </span>
            {{
                (usuario.uid)
                ? 'Editar usuario'
                : 'Agregar usuario'
            }}
            
        </h1>
    </span>
</span>
<br>
    <mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" style="margin-left: 5%; margin-right: 5%;"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="20px">

        <div fxFlex="80"
            fxFlex.lg="70"
            fxFlex.sm="60">
            <div class="p-2">
                
                <mat-card class="tarjeta-usuario" fxLayout="column" >

                    <mat-card-title-group  fxLayout="row wrap" fxLayoutAlign="start" 
                        fxLayout.xs="column" fxFlex="100" fxFlex.lg="90" fxFlex.sm="80" >
                        <mat-card-title fxLayoutAlign="start" fxLayout="row" fxLayout.xs="column"
                            style="margin-top: 5%; margin-bottom: 10%; margin-left: 3px;">
                            <span fxLayout="row"  >
                                <span fxLayoutAlign="center" fxFlex="100">
                                    <h1>
                                        <span><img src="https://img.icons8.com/color/48/000000/badge.png"/></span>
                                        <span style="font-size: 24px;">Datos</span>
                                    </h1>
                                </span>
                            </span>
                        </mat-card-title>
                
                        <mat-card-subtitle fxLayout="row wrap"  fxLayout.xs="column" fxLayoutAlign="start" >
                        
                        <div fxFlex="100" fxFlex.lg="90" fxFlex.sm="80"> 
                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"> 
                                <mat-form-field fxFlex="100" fxLayout.xs="column">
                                    <mat-label>  Nombre </mat-label>
                                    <input type="text" matInput [(ngModel)]="usuario.nombre" required>
                                </mat-form-field> 
                            </div>
                            
                            <div fxLayout="row">
                                <mat-form-field fxFlex="100" fxLayout.xs="column">
                                    <mat-label> Correo </mat-label>
                                    <input type="text" matInput [(ngModel)]="usuario.correo" required>
                                </mat-form-field>
                            </div>
                        </div>
                        </mat-card-subtitle>
                        <br>
                        
                        <span fxLayout="row wrap" fxLayout.xs="column" style="margin-left: 25%;margin-right: 5%;">
                            <label for="archivo">
                                <img style="margin-top: 10%; height: 200px; width: 250px; border-radius:  10px; border-radius:  100px "
                                    fxLayout="row wrap" fxLayout.xs="column"
                                    mat-card-xl-image [src]="imageSrc || usuario.img" ><br>
                                    <span style="margin-left: 30%;"> Seleccionar foto</span>
                            </label>
                        </span>
                        <form class="custom-input-file"  style="margin-left: 50%; display: none; ">
                            <input type="file" id="archivo" (change)="onFileChange($event)" name="archivo"  >
                        </form>
                                
                    </mat-card-title-group>
                    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center">
                        <div fxLayout fxLayout fxLayoutAlign="center">
                                <span class="spacer"></span>
                    
                                <!-- <button mat-raised-button 
                                        color="accent"
                                        (click)="guardar()">
                                    <mat-icon>save_as</mat-icon>
                                    {{
                                        (usuario.uid)
                                        ? 'Actualizar usuario'
                                        : 'Crear usuario'
                                    }}
                                </button> -->
                                <button class="boton seis" color="accent"
                                        mat-raised-button 
                                        (click)="guardar()">
                                        <span>
                                            <span><img style="height: 25px; width: 25px;" src="https://img.icons8.com/wired/64/000000/save.png"/></span>
                                        </span>
                                        {{
                                            (usuario.uid)
                                            ? 'Guardar '
                                            : 'Crear usuario'
                                        }}
                                    <svg>
                                        <rect x="0" y="0" fill="none"></rect>
                                    </svg>
                                </button>
                            </div>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
        
    </div>
</body>


<!-- <body class="contenedorUser">
    <br>

    <span fxLayout="row"  >
        <span fxLayoutAlign="center" fxFlex="23">
            <button mat-button color="warn" (click)="volver()">
                <span class="material-icons">
                    arrow_back
                    </span>
            </button>
        </span>
        <span fxLayoutAlign="center" fxFlex="50">
            <h1>
                <span class="material-icons"> 
                    edit
                </span>
                {{
                    (usuario.uid)
                    ? 'Editar usuario'
                    : 'Agregar usuario'
                }}
                :
            </h1>
        </span>
    </span>
    <br>
        <mat-divider></mat-divider>
    <br>
    
    <div fxLayout="row" style="margin-left: 8%; margin-right: 8%;"
        fxLayoutGap="60px"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        >
    
        <div fxFlex="60"
            fxFlex.lg="50"
            fxFlex.sm="50">
            
            <div fxLayout="row"
                fxLayout.xs="column"
                fxLayoutGap="20px">
    
                <mat-form-field fxFlex="100"
                                fxLayout.xs="column">
                    <mat-label>
                        Nombre
                    </mat-label>
                    <input type="text"
                            matInput
                            [(ngModel)]="usuario.nombre"
                            required>
                </mat-form-field>
    
            </div>
            
            <div fxLayout="row">
                <mat-form-field fxFlex="100"
                    fxLayout.xs="column">
                    <mat-label>
                        Correo
                    </mat-label>
                    <input type="text"
                                matInput
                                [(ngModel)]="usuario.correo"
                                required>
                </mat-form-field>
            </div>
            
            <div fxLayout fxLayout fxLayoutAlign="center">
                <span class="spacer"></span>
    
                <button mat-raised-button 
                        color="accent"
                        (click)="guardar()">
                    <mat-icon>save_as</mat-icon>
                    {{
                        (usuario.uid)
                        ? 'Actualizar usuario'
                        : 'Crear usuario'
                    }}
                </button>
            </div>
            
        </div>
        <br>
    
    </div>
</body> -->
