body{
    // background-color: rgb(53, 52, 52);
    background: radial-gradient(circle at top, rgb(30, 80, 81), rgb(34, 34, 34));
}

.tarjeta-usuario{
	border-radius: 10px;
    width: 100%;
    background-color: rgb(225, 225, 225);
    color: black;
}

*{
	color: black;
}

// BOTON EDITAR
.boton.seis { 
	color: #000;
}

.boton.seis svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.boton.seis rect {
	width: 100%;
	height: 100%;
	stroke: #000;
	stroke-width: 10px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: 2s ease all;
}

.boton.seis:hover rect {
	stroke-dashoffset: 0;
}

.custom-input-file {
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto 0;
	min-height: 15px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 400px;
  }
  
  .custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
  }